*
{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 192, 229);
    font-family: 'Cambria, Cochin, Georgia, Times', 'Times New Roman', 'serif';
}


.dropdown-menu{
    background-color: rgb(255, 93, 155)          ;
}

.container{
    background-color: rgb(183, 183, 255);
    border-radius: 10%;
}

.name {
    color:rgb(248, 0, 145);
    background-color: rgb(192, 212, 255);
    border: dotted;
    border-radius: 50%;
    border-color: rgb(183, 183, 255);
    text-align: center;
    justify-content: center;
}

.nav-link :hover{
    color: blueviolet;
}